.Navbar{
border-bottom: solid 2px;

}

.link{
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  font-size: 1.2rem;
}
.Home{
border-radius: 10%;
}
.title1{
  display: flex;
  margin-top: 302px;
  margin-left: 5rem;
}
.title2{
margin-top: 2rem;
margin-left: 5rem;
}

.About{
  margin-top: 500px;
  text-align: center;
  
}