@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Oswald&display=swap");
 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 
body {
  font-family: "Kanit", sans-serif;
  /* font-family: "Oswald", sans-serif; */
}
.navbar-brand {
  color: rgb((63,57,64));
}
 
.bg-body-tertiary {
  background-color: white !important;
}
.myBtn {
  color: white;
  background-color: rgb(77,18,29);
}
.portfolio {
  background-color: rgb(47,43,50);
}
.iconStyle {
  display: block;
  text-align: center;
  font-size: 60px;
  color: rgb(77,18,29);
}
.headerVSpace {
  padding-top: 40px;
}
.container-fluid{
    color: rgb(234,235,255);
}

.services{
    text-align: center;
    margin-top: 200px;
    display: flex;
justify-content: center;
align-items: center;
}
.box{
    width: 20%;
    float: left;
    margin-top: 50px;
    margin-right: 5%;
    
}