* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /*navbar*/
 
  .logo {
    margin-left: 5rem;
    margin-right: 1rem;
  }
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 20px;
  }
  
  .dropdown-menu {
    min-width: 150px;
  }
  
  .dropdown-menu a {
    font-size: 1rem;
  }
  
  .ml-auto {
    margin-left: auto !important;
  }
  

  /*navbar*/

  /*cart*/
.cart{
  display: flex;
}
.img {
  position: relative;
  
}
#bg{
  width: 100%;
}
#logo {
  position: absolute;
  top: 20%;
  left: 50%;
  
  
}
.cart{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  
}
.cart_product {
  display: flex;
  background-color: rgba(249, 241, 231, 255);
  width: 51.063rem;
  height: 3.438rem;
  margin-top: 4.5rem;
  margin-left: 6.25rem;
}

.product_item {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  margin: auto;
  padding: 1rem;
  
}
.cart_totals {
  background-color: rgba(249, 241, 231, 255);
  font-weight: bold ;
  font-size: 20px;
  width: 24.375rem;
  height: 24.375rem;
  margin-left: 2rem;
  margin-top: 4.5rem;
  
}

.total_item {
  text-align: start;
  padding-left: 2rem;
  padding-top: 2rem;
}
#total_text{
  text-align: center;
  font-weight: bold ;
  font-size: 40px;
}
.checkout_button {
  text-align: center;
  display: inline-block;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 40px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}
.checkout_button{
  display: block;
  width: 13.875rem;
  height: 3.688rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.checkout_button button {
  background: transparent;
  border: none;
  color: black;
}

.checkout_button:hover {
  background-color: black;
}

.checkout_button:hover button {
  color: white;
}







  /*cart*/
  
  
  
  /*footer*/
  
  .footer{
  background-color: rgba(253,250,247,255);
  padding: 2rem;
  border-top: solid 1px rgba(182,181,180,255);
  
  }
  .footer h2{
  font-weight: bold;
  }
  .footer h4{
  color: rgba(182,181,180,255);
  }
  #linkfooter{
  list-style: none;
  display: inline;
  margin: 0px;
  padding-bottom: 1rem;
  }
  #box1,#box2,#box3{
  margin-right: 4rem;
  }
  #box1 a, #box2 a, #box3 a {
  color: black;
  text-decoration: none;
  }
  #box1{
  text-align: left;
  
  }
  #box2{
  text-align: left;
  
  }
  
  #box3{
  text-align: left;
  
  }
  #email {
  width: 45%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(182,181,180,255);
  font-size: 16px;
  margin-bottom: 10px;
  background-color: transparent;
  outline: none;
  margin: 0 auto;
  }
  .text-footer{
  margin: 0;
  }
  
  #email:focus {
  border-bottom: 2px solid #007bff;
  }
  
  .subscribe-button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(182,181,180,255);
  padding: 5px;
  width: 100px; 
  font-size: 16px; 
  color: black; 
  margin-left: 2rem;
  
  }
  
  #h5{
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: solid 1px rgba(182,181,180,255);
  
  
  }
  
  /*footer*/